 body{
  background: radial-gradient(#6d5865,#655669, #545172, #443f5a, #1d0d13);
  /*height: 1000px;*/
}
#head{
  width:100%;
  height:120px;
  background-color: white;
  display: inline-block;
  text-align: left;
  margin-left: 15px;
}
#headlogo {
  width: 170px;
  height:50px;
  margin-top: 15px;
  margin-left: 15px;
  display:inline-block;
  /*vertical-align: top;*/
  /*background-color: green;*/
}
#head h3 {
  display: inline-block;
  vertical-align: top;
  height:40px;
  width: 350px;
  /*background-color: yellow;*/
  margin-top: 50px;
  margin-left: 590px;
  padding-top:10px;
  /*margin-left: 290px;*/
  /*vertical-align: top;*/
}

#navbar{
  vertical-align: top;
  /*width: 100%;*/
  height: 50px;
  display: inline-block;
  /*background-color: grey;*/
  margin-top: -1px;
  color:#8e97ee;
  margin-left: -65px;
/*margin-right: 50px;*/
/*border: solid black 1px;*/
  /*color:white*/
  /*margin-right:30px;*/
}
#navbar ul li{
  display: inline-block;
  vertical-align: top;
  /*height: 50px;*/
  width: 143px;
  margin-right: -6px;
  margin-top: - 1px;;
  padding: 5px;
  border: solid black 1px;
  background-color: white;
  text-align: center;
  text-decoration: underline;
}
#navbar span{
  /*border-right: solid black 1px;
  margin-left: 30px;
  display: inline-block;*/
}
#main{
  width:500px;;
  height:345px;
  /*background-color: blue;*/
  vertical-align: top;
  display: inline-block;
  margin-top: -30px;
}
.mainpic{
  margin-left: 15px;
  margin-top: -20px;
  display:inline-block;
  border: solid 5px #c0c0c0;
  margin-right: 50px;
}
#main div {
  display: inline-block;
  vertical-align: top;
  background-color: grey;
  margin-top: 10px;
  width: 500px;
  height:310px;
  text-align: left;
  padding-left:6px;
  background: linear-gradient(to right, #f1fcfe, #edf1f6, #e8e7ee, #e3dde6, #ddd0dc)
}

#main h3{
  vertical-align: top;
  display:inline-block;
  /*background-color: pink;*/
  width: 485px;
  height: 20px;
  padding:10px;
  margin-top: 1px;
  margin-left: -6px;
  background: linear-gradient(#c5c1c6, #8c8995, #c5c1c6);
}
#main h4{
  margin-top: -25px;
  margin-left: 5px;
}
  #b1 {
  display:inline-block;
  width:255px;
  height:500px;
  vertical-align: top;
  background-color: yellow;
  margin-left: 15px;
  margin-right: 12px;
  background: linear-gradient(#98a9c0, #aab8cb, #bac6d5, #c8d1de, #d9dfe8, #f9fafc);
}
  #b1 div{
    /*background-color: pink;*/
    padding:2px;
    height:40px;
    background: linear-gradient(#c5c1c6, #8c8995, #c5c1c6);
  }
  #b1 p{
    width:245px;
    height:250px;
    margin: 10px;
  }
  #b2{
    display: inline-block;
    width:255px;
    height: 500px;
    vertical-align: top;
    background-color: yellow;
    margin-right: 12px;
    background: linear-gradient(#98a9c0, #aab8cb, #bac6d5, #c8d1de, #d9dfe8, #f9fafc);
  }
  #b2 div{
    padding:2px;
    height:40px;;
    background: linear-gradient(#c5c1c6, #8c8995, #c5c1c6);
  }
  #b2 p{
    width:245px;
    height:250px;
    margin: 10px;
  }
  #b3{
    display: inline-block;
    width:255px;
    height: 500px;
    vertical-align: top;
    background-color: yellow;
    margin-right: 12px;
    background: linear-gradient(#98a9c0, #aab8cb, #bac6d5, #c8d1de, #d9dfe8, #f9fafc);
  }
  #b3 div{
    padding:2px;
    height:40px;
    background: linear-gradient(#c5c1c6, #8c8995, #c5c1c6);
  }
  #b3 p{
    width:245px;
    height:250px;
    margin: 10px;
  }
  #b4{
    display: inline-block;
    width:255px;
    height: 500px;
    vertical-align: top;
    background-color: yellow;
    margin-right: 12px;
    background: linear-gradient(#98a9c0, #aab8cb, #bac6d5, #c8d1de, #d9dfe8, #f9fafc);
  }
  #b4 div{
    padding:2px;
    height:40px;
    background: linear-gradient(#c5c1c6, #8c8995, #c5c1c6);
  }
  #b4 p{
    width:245px;
    height:250px;
    margin: 10px;
  }

    button{
    background-color: #577399;
    color: white;
    border-radius: 2px;
    border: solid black 2px;
    margin-left: 155px;
  }
